//breakpoints
$breakpoint-xs: 0;  //only used in bs3
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//grid gutters
$gutter-width-xs:         10px;
$gutter-width-sm:         20px;
$gutter-width-md:         20px;
$gutter-width-lg:         20px;
$gutter-width-xl:         50px;

//only used in Bs4
$container-max-width-sm: 768px;
$container-max-width-md: 992px;
$container-max-width-lg: 1200px;
$container-max-width-xl: 1920px;
