html,
body {
	background-color: #fff;
}

html {
	font-size: 16px;
	color: #333;
}

a {
	text-decoration: none;
  transition: all .5s ease;
  cursor: pointer;
}

strong {
	font-weight: bold;
}

img {
  max-width: 100%;
}

*:focus {
  outline-color: orange;
  outline-width: 2px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: rgba(255,255,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
